body{
    background:rgb(42, 40, 40);
    
}
.main{
   position: absolute;
   top: 150px;
   left: 450px;
   width: 300px;
   height: 350px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 10px;
   box-shadow: inset 0px 0px 20px grey;
   opacity:1 ;
   z-index: 2;
   background-color:dodgerblue;

}
.top{
    width: 100%;
    margin: 10px;

}
#result{
    outline: none;
    border: none;
    border-radius: 18px;
    width: 76%;
    height: 40px;
    box-shadow: 0px 0px 5px rgb(238, 236, 236);
    font-size: 19px;
    text-align: left;
    background-color: white;
    color: black;
}
#clear{
    background-color:red;
    border-radius: 17px;
    margin-right: 5px;
    border: none;
    width: 15%;
    height: 40px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.table{
    width: 100%;
    input{
        margin: 10px;
        width: 50px;
        height: 45px;
        background-color: rgb(26, 24, 24);
        border: none;
        border-radius: 18px;
        font-size: 23px;
        font-weight: 400;
        z-index: 2;
        box-shadow: 0px 0px 5px white;
        color: white;
    }
}
.buttons{
    display: flex;
    justify-content: center;
    #close{
        background-color: rgb(232, 39, 39);
    }
    button{
        width: 100px;
        background-color: dodgerblue;
        font-size: 20px;
        color: white;
        padding: 10px;
        border: none;
        margin: 10px;

    }
}
h2{
    color: white;
    text-align: center;
    font-size:30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
