body{
    background-color: rgb(74, 72, 72);
}
.main{
    margin: 100px 500px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    background-color: rgb(181, 196, 14);
    border: none;
    box-shadow: inset 0px 0px 10px white;

}
.top{
    width:95%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#result{
    width: 300px;
    border: none;
    outline: none;
    border-radius: 15px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
}
#clear{
    height: 60px;
    width: 70px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: rgb(77, 72, 72);
    color: white;
    padding: 10px;
    border: none;
}
.table{
    width: 400px;
    height: 80%;
    background-color: rgb(59, 57, 57);
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px white;
}
table{
    display: flex;
    justify-content: center;
}
.inp{
    width: 70px;
    height: 60px;
    border: none;
    font-size: 30px;
    font-family: sans-serif;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: dodgerblue;
    color:white;
}